.card-container{
    position: grid;
    perspective: 700px;
    transform-style: preserve-3d;
    transition: all 0.7s ease;
    .card-flip{
        display: grid; grid-template: 1fr / 1fr;
        grid-template-areas: "frontAndBack";
        transform-style: preserve-3d;
        transition: all 0.7s ease;
        div{
            backface-visibility: hidden;
            transform-style: preserve-3d;
        }
    }
    .front{
        grid-area: frontAndBack;
        z-index: 1;
    }
    .back{
        grid-area: frontAndBack;
        transform: rotateY(-180deg);
        z-index: 0;
    }
    &:hover{
        .card-flip{
            transform: rotateY( 180deg );
        }
    }
}